{% load i18n %}

<ion-tab-bar>
    <ion-tab-button
        hx-get="{% url 'invoicing:dashboard' %}"
        hx-target="#main-content-area"
        hx-push-url="true"
        class="{% if current_view == 'dashboard' %}tab-selected{% endif %}">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>{% trans "Overview" %}</ion-label>
    </ion-tab-button>
    <ion-tab-button
        hx-get="{% url 'invoicing:invoices' %}"
        hx-target="#main-content-area"
        hx-push-url="true"
        class="{% if current_view == 'invoices' %}tab-selected{% endif %}">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-label>{% trans "Invoices" %}</ion-label>
    </ion-tab-button>
    <ion-tab-button
        hx-get="{% url 'invoicing:series' %}"
        hx-target="#main-content-area"
        hx-push-url="true"
        class="{% if current_view == 'series' %}tab-selected{% endif %}">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>{% trans "Series" %}</ion-label>
    </ion-tab-button>
    <ion-tab-button
        hx-get="{% url 'invoicing:settings' %}"
        hx-target="#main-content-area"
        hx-push-url="true"
        class="{% if current_view == 'settings' %}tab-selected{% endif %}">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>{% trans "Settings" %}</ion-label>
    </ion-tab-button>
</ion-tab-bar>
