{% extends "ui/content_base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans "Invoicing" %}{% endblock %}

{# Section context for sidebar highlighting #}
{% block content %}
{% with current_section="invoicing" section_title=_("Invoicing") %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block module_tabbar %}

{% include "invoicing/partials/tabbar.html" with current_view='dashboard' %}

{% endblock %}

{% block page_content %}
{% include "invoicing/partials/dashboard_content.html" %}
{% endblock %}
