{% extends "ui/content_base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}{{ invoice.number|default:_("Draft") }}{% endblock %}

{% block content %}
{% with current_section="invoicing" section_title=_("Invoicing") %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block module_tabbar %}

{% include "invoicing/partials/tabbar.html" with current_view='invoices' %}

{% endblock %}

{% block page_content %}
{% include "invoicing/partials/invoice_detail_content.html" %}
{% endblock %}
